<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Custom Login Page</title>
  <style>
    .failed{
    color:red;
    }
  </style>
</head>
<body>
<h3> My page</h3>
<h2> .....................</h2>
<form action="#" th:action="@{/authenticateTheUser}" method="POST">

  <div th:if="${param.error}">
    <i class="failed">sorry!error coming</i>
  </div>
  <p>
    User name:<input type="text" name="username">
  </p>
  <p>
    password:<input type="password" name="password">
  </p>
  <input type="submit" value="Login">

</form>

</body>
</html>